@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @{
    layout = "~/views/shared/_layout1.cshtml";
} *@
@{
    Layout = "~/views/shared/_layout1.cshtml";
    ViewData["Title"] = "DevOpes Page";
}

<h1>Welcome to the DevOpes Page!</h1>

@* <p>This is a secure page accessible only to users with Windows authentication.</p>

<a href="https://qltlbbrscm02/scm/?src=builds.asp" target="_blank">Go to Example.com in a new tab</a> *@
